header{
    position: absolute;
    .navbar{
        .header__content{
            a{
                display: block;
                @include styleText($fs-1,$fw-4,$color-white-1);
                i{
                    color: white;
                }
            }
        }

    }
}
